@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --spacing: 2vw;
}

html,
body,
#canvas {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh!important;
  overflow: hidden;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.opacity-0 {
  opacity: 0;
}
.fixed {
  position: fixed!important;
}

.floating-button {
  position: fixed;
  bottom: 2vh;
  right: var(--spacing);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #8F7CFE;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.floating-button:hover .popover {
  display: block;
}

.popover {
  display: none;
  position: absolute;
  bottom: calc(100% + 10px);
  right: 0;
  /* translucent */
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: calc(100vh / 40);
    width: 25vw;
  padding: 12px;
}
/* if not laptop */
@media (max-width: 992px) {
  .popover {
width: calc(100vw - 2 * var(--spacing)); 
padding: 10px;
  }
}


.adjust-z{
  z-index: 166910055
}
/* translucent with linear gradient */
.translucent {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

  /* color: white; */
}