@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spacing: 2vw;
}

html,
body,
#canvas {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
  overflow: hidden;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.floating-button {
  position: fixed;
  bottom: 2vh;
  right: var(--spacing);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #8f7cfe;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

.invisible-space {
  display: none;

  position: absolute;
  bottom: calc(100% - 20px);
  right: 0;
  width: 25vw;
  padding: 12px;
  height: 50vh;
  cursor: default;
  
}

.popover {
  display: none;
  position: absolute;
  bottom: calc(100% + 10px);
  right: 0;
  /* translucent */
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: calc(100vh / 40);
  width: 25vw;
  padding: 12px;
  cursor: default;
}
/* if not laptop */
@media (max-width: 992px) {
  .popover {
    width: calc(100vw - 2 * var(--spacing));
    padding: 10px;
  }
  .invisible-space {
    width: calc(100vw - 2 * var(--spacing));
    padding: 10px;
  }
}

.floating-button:hover {
  .popover {
    display: block;
  }
  .invisible-space {
    display: block;
  }
  invisible-space:hover .popover {
    display: block;
  }
}

.adjust-z {
  z-index: 166910055;
}
/* translucent with linear gradient */
.translucent {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

}

.footer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.footer > a {
  color: #8f7cfe;
  flex: 1;
}

.footer > a > svg {
  margin-left: auto;
  margin-right: auto;
}
